@import url("https://fonts.googleapis.com/css?family=Raleway");
/* for search button */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font for section */

:root {
    --glow-color: hsl(186 100% 69%);
  }

*{
    margin: 0;
    padding: 0;
}

/*Nav Bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background:rgba(0, 0, 0, 5) url('../img/sed.jpg');
  /* position: sticky; */
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
  border-radius: 10px;
  transform: scale(1.05); 
}
#navlogo {
    position: absolute;
    top: 1px;
    right: 50px; 
}

/* 
body{
  background: rgba(0, 0, 0, 0.2) url('../img/hey.jpg');
  background: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  max-width: 100%;
} */

/* .logo{
    width: 30%;
    display: flex;
    justify-content: center center;
    align-items: center;
}

.logo img{
  width: 50%;
   border-radius: 50px;
} */
/* 
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
} */

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
} */

/* #navlogo {
  position: absolute;
  top: 14px;
  left: 60px;   
} */

/* .nav-list li{
    list-style: none;
    padding: 5px 10px;

}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    text-decoration: none;
    color: rgb(22, 243, 22);
} */
/* 
.rightNav{
    width: 30%;
    text-align: right;
    padding: 20px;
} */

#search{
    padding: 5px;
    font-size: 18px;
    border: 3px solid grey;
    border-radius: 9px;
}

.glowing-btn {

    /* How do i center align the "search" text inside the search button?? */
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.4em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    /* font-size: 2em; */
    font-weight: 900;
    letter-spacing: 0.5em;
    text-transform: uppercase;
  
    /* -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color); */
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowing-txt {
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  
  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  
  .glowing-btn:hover .glowing-txt {
    animation: none;
  }
  
  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  
  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }
  
  .glowing-btn:hover:after {
    opacity: 1;
  }
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .glowing-btn{
      font-size: 1em;
    }
  }
  

.background{
    background: rgba(0, 0, 0, 0.5) url('../img/sed.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 70%;
}

.secondHalf img{
    width: 70%;
    border-radius: 15px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 40px;
    color: rgb(248, 9, 9);
}

.text-small{
    font-size: 16px;
    color: white;
}

.btn{
    padding: 4px 8px;
    margin: 3px 0;
    background-color: #16a085;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Oswald', sans-serif;

}
.btn:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
}

.btn:after {
    content: "";
    background: #2f1cdb;
    border-radius: 20px;
    display: block;
    position: absolute;
    padding-top: 5%;
    padding-left: 3%;
    margin-left: -15px !important;
    margin-top: -70%;
    opacity: 0;
    transition: all 0.8s
  }

  .btn:active:after {
    margin: 20px;
    padding: 20px;
    opacity: 1;
    transition: 0s
  }

  .btn:focus { outline:0; }

.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 100px;

  background: rgba(0, 0, 0, 0.2) url('../img/hey.jpg');
  background: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: darken;
  max-width: 100%;
  }

.section-left{
  flex-direction: row-reverse;
  padding: 100px;
  }


.paras{
  padding: 20px;
}

.thumbnail{
  height: 500;
  padding: 20px 60px;
}

.imgME{
  height: 500px;
  border-radius: 10px;
}

.damn{
  border-radius: 15px;
  height: 500px;
  width: 450px;
}

.randompic{
  border-radius: 15px;
  margin-top: 5px;
  height: 500px;
  width: 450px;
}
/* 
.sectiontag{
  padding: px;
} */

.contact{
  background-color: rgb(226, 211, 184);
  height: 90vh;
}

.text-contact{
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.form{
  max-width: 900px;
  margin: 12px auto;
}

.form-input{
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border: 2px solid grey;
  border-radius: 12px;
  margin: 10px;
}

.botn{
    color: black;
    border: 2px solid grey;
    border-radius: 10px;
    width: 15%;
    font-size: 16px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 12px;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* button ra text area modify!! */

.text-footer{
  text-align: center;
  padding: 15px 0;
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}